---
import { getCollection } from "astro:content";
import Page from "../layouts/Page.astro";

const filesCollection = await getCollection("files");
const folderCollection = await getCollection("folder");
const infileCollection = await getCollection("infile");
---

<Page>
  <h1>astro-loader-i18n</h1>
  {
    filesCollection.map((entry) => (
      <>
        <h3>{entry.filePath}</h3>
        <dl>
          {Object.entries(entry.data).map(([key, value]) => (
            <>
              <dt>{key}</dt>
              <dd>{value}</dd>
            </>
          ))}
        </dl>
      </>
    ))
  }
  <h2>folder</h2>
  {
    folderCollection.map((entry) => (
      <>
        <h3>{entry.filePath}</h3>
        <dl>
          {Object.entries(entry.data).map(([key, value]) => (
            <>
              <dt>{key}</dt>
              <dd>{value}</dd>
            </>
          ))}
        </dl>
      </>
    ))
  }
  <h2>infile</h2>
  {
    infileCollection.map((entry) => (
      <>
        <h3>{entry.filePath} / {entry.id}</h3>
        <dl>
          {Object.entries(entry.data).map(([key, value]) => (
            <>
              <dt>{key}</dt>
              <dd>
                {JSON.stringify(value, null, 2)}
              </dd>
            </>
          ))}
        </dl>
      </>
    ))
  }
</Page>
